@charset "utf-8";
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;} audio,canvas,video{display:inline;zoom:1;} html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;} body,button,input,select,textarea{font-family:sans-serif;} a{color:#00e;} a:visited{color:#551a8b;} a:focus{outline:thin dotted;} a:hover,a:active{outline:0;} abbr[title]{border-bottom:1px dotted;} b,strong{font-weight:700;} blockquote{margin:1em 40px;} dfn{font-style:italic;} mark{background:#ff0;color:#000;} pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em;} pre{white-space:pre-wrap;word-wrap:break-word;} q{quotes:none;} q:before,q:after{content:none;} small{font-size:75%;} sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;} sup{top:-.5em;} sub{bottom:-.25em;} ul,ol{margin:1em 0;padding:0 0 0 40px;} dd{margin:0 0 0 40px;} nav ul,nav ol{list-style:none;list-style-image:none;} img{border:0;-ms-interpolation-mode:bicubic;} svg:not(:root){overflow:hidden;} fieldset{margin:0 2px;padding:.35em .625em .75em;} legend{border:0;margin-left:-7px;} button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0;} button,input{line-height:normal;overflow:visible;} table button,table input{overflow:auto;} button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;} input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;} input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;} input[type=search]::-webkit-search-decoration{-webkit-appearance:none;} button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;} textarea{overflow:auto;vertical-align:top;} table{border-collapse:collapse;border-spacing:0;} audio:not([controls]),[hidden]{display:none;} body,figure,form{margin:0;}

#container
{
	margin: 0 auto;
	width: 868px;
}

#container-content
{
	width: 865px;
	margin-left: 3px;
	background: #e5efff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

header
{
	padding: 15px 0 0 10px;
	width: 868px;
	height: 200px;
	background: #fff url(images/MFT%20Header.jpg) no-repeat bottom left;
	color: #ffffff;
}

header h1 { margin: 21px 0 0 0; padding: 0; color: #00539f; font-weight: bold; font-size: 1.50em; line-height:90%; }
header h2 { margin: 2px 0 0 0; padding: 0; color: #646464; font-weight: lighter; font-size: 0.95em; font-style: italic; }
header h3 { margin: 0px 0 0 0; padding: 0; color: #646464; font-weight: lighter; font-size: 0.95em; }

nav
{
	width: 100%;
	font-weight: 800;
	float: left;
	background: #406a90;
	font-size: .90em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	color: #ffffff;
}

nav ul { margin: 0; padding: 0; }
nav ul li { list-style-type: none; display: inline; }

nav li a
{
	display: block;
	float: left;
	padding: 5px 11px;
	font-weight:bold;
	color: #ffffff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

nav li a:visited { color: #ffffff;}
nav li a:hover { background: #14475f; }

#right { border: 0; padding: 5px 14px; }
#left { padding: 5px 14px; }
#right:hover { border-top-right-radius: 10px; -moz-border-radius-topright: 10px; }
#left:hover { border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; }

.bar
{
	clear: both;
	height: 3px;
	background: #878787;
}

body { font-family: arial,helvetica,clean,sans-serif; }

section div.content h2
{
	margin: 0;
	color: #424242;
    font-family: 'palatino linotype', palatino, serif;
	letter-spacing:0.1em;
	text-align:left;
	text-transform: lowercase;
	font-size: 1.5em;
	font-variant: small-caps;
}

section
{
	padding-bottom: 20px;
	background: #e5efff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

section div.content
{
	width: 500px;
	padding: 15px 0;
	margin: 0 375px 0 30px;
	font-size: .90em;
}

.floatfix { clear:left; }

aside
{
	float: right;
	width: 230px;
	padding: 0px 0px 10px 0px;
	margin: 0;
	background: #d7e6ff;
}

aside div { width: inherit; padding-left: 15px; }
aside h5 { font-size: 0.80em; margin: 10px 0px 0px; font-weight: bold; line-height: 90%; }
aside h6 { font-size: 0.68em; font-weight: normal; margin: 5px 0px 10px 0px; }
aside address { font-size: 0.60em; font-weight: normal; }
aside div { float: left; margin-left: 10px; }

footer
{
	clear: both;
	background: #406a90;
	text-align: right;
	padding: 10px;
	margin: 0 0 10px 0;
	height: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

img.center {   display: block;   margin-left: auto;   margin-right: auto; margin-top: 10px; }
form input { height: 23px; padding-left: 3px; }
form div { padding-bottom:8px;color:#000000; }
.red { color: red;}
tr.valign {vertical-align: top;}
table.contact { text-align:left; padding:2; background-color: transparent; }
.alignbuttons { float:right;}
.left { float: left;}

#contactformbar
{
	margin: 0;
	padding: 0 0 0 3px;
	width: 487px;
	height: 30px;
	background: #406a90;
	color: #fff;
	font-size: 1.10em;
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

#contactformbar p { line-height: 210%; }

#contactform
{
	color: #B3B3B3;
	margin: 0;
	background: #fff;
	padding: 10px 20px 20px 20px;
	width: 450px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

.text
{
	color: #000000;
}

input.submit
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding: 3px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

input.reset
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding: 3px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

#contactformbar h3 { padding-top: 5px; font-weight: bold; }

.question 	{ font-weight: bold; font-size: 1.15em; }
.answer 	{ margin: 0px 0px 50px 15px; }

.error-message { border: solid 1px #FFD200; background-color: #FFF8A7; padding: 5px; }
